.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  height: 100%;

  /* border: 2px solid #ff0000; */
}

h2 {
  height: auto;
  margin-bottom: 40px;
}

p {
  height: 20%;
}
