<app-header />

<div class="container">
      <!-- Vou fazer esse formulário de outra maneira  -->
      <!-- <form (submit)="onSubmit(dataForm)" #dataForm="ngForm"></form> -->

      <!-- Só com o FormControl -->
      <!-- <input type="text" id="name" [formControl]="name" /> -->
      <!-- <p>Nome: {{ name.value }}</p> -->

      <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
            <div class="form__content">
                  <div class="content__col">
                        <div class="group" formGroupName="concurso">
                              <h3>{{ concurso?.nome}}</h3>

                              <label for="banca">Banca</label>
                              <select id="banca" formControlName="banca">
                                    <option value="" disabled selected>Selecione uma opção</option>

                                    @for(banca of bancas; track $index ) {
                                    <option [value]="banca">{{ banca }}</option>
                                    }
                              </select>

                              <label for="inicioInscricao">Início da inscrição</label>
                              <input type="text" id="inicioInscricao" formControlName="inicioInscricao"
                                    mask="d0/M0/0000" />
                        </div>

                        <div class="group" formGroupName="cargo">
                              <h3>Cargo</h3>

                              <label for="nome">Nome</label>
                              <input type="text" id="nome" formControlName="nome" />

                              <label for="nivel">Nível</label>
                              <select id="nivel" formControlName="nivel">
                                    <option value="" disabled selected>Selecione uma opção</option>

                                    @for(nivel of niveis; track $index ) {
                                    <option [value]="nivel">{{ nivel }}</option>
                                    }
                              </select>


                              <label for="salario">Salário</label>
                              <input type="text" id="salario" formControlName="salario" prefix="R$ " mask="separator.2"
                                    thousandSeparator="." decimalMarker="," />

                              <label for="inscricao">Inscrição</label>
                              <input type="text" id="inscricao" formControlName="inscricao" prefix="R$ "
                                    mask="separator.2" thousandSeparator="." decimalMarker="." />

                              <label for="vagas">Vagas</label>
                              <input type="text" id="vagas" formControlName="vagas" />

                              <div class="container__checkbox">
                                    <input type="checkbox" id="cadastroReserva" formControlName="cadastroReserva" />
                                    <label for="cadastroReserva">Cadastro Reserva</label>
                              </div>
                        </div>
                  </div>

                  <div class="content__col">
                        <div class="group" formGroupName="avaliacao">
                              <h3>Avaliação</h3>

                              <label for="tipo">Tipo</label>
                              <select id="tipo" formControlName="tipo">
                                    <option value="" disabled selected>Selecione uma opção</option>

                                    @for(tipo of tipos; track $index ) {
                                    <option [value]="tipo">{{ tipo }}</option>
                                    }
                              </select>

                              <label for="carater">Carater</label>
                              <select id="carater" formControlName="carater">
                                    <option value="" disabled selected>Selecione uma opção</option>

                                    @for(carater of carateres; track $index ) {
                                    <option [value]="carater">{{ carater }}</option>
                                    }
                              </select>

                              <label for="data">Data</label>
                              <input type="text" id="data" formControlName="data" mask="d0/M0/0000" />

                              <label for="duracao">Duração</label>
                              <input type="text" id="duracao" formControlName="duracao" mask="Hh:m0"
                                    [showMaskTyped]="true" />

                              <label for="questoes">Qunatidade de Questões</label>
                              <input type="text" id="questoes" formControlName="questoes" />

                              <label for="pontuacao">Pontuação</label>
                              <input type="text" id="pontuacao" formControlName="pontuacao" />
                        </div>
                  </div>

                  <div class="content__col">
                        <div class="group" formGroupName="conteudo">
                              <h3>Conteúdo</h3>

                              <div class="container__checkbox">
                                    <input type="checkbox" id="portugues" formControlName="portugues" />

                                    <label for="portugues">Português</label>
                              </div>

                              <div class="container__checkbox">
                                    <input type="checkbox" id="matematica" formControlName="matematica" />

                                    <label for="matematica">Matemática</label>
                              </div>
                              <div class="container__checkbox">
                                    <input type="checkbox" id="informatica" formControlName="informatica" />

                                    <label for="informatica">Informática</label>
                              </div>
                              <div class="container__checkbox">
                                    <input type="checkbox" id="raciocinioLogico" formControlName="raciocinioLogico" />

                                    <label for="raciocinioLogico">Raciocínio Lógico</label>
                              </div>
                              <div class="container__checkbox">
                                    <input type="checkbox" id="ingles" formControlName="ingles" />

                                    <label for="ingles">Inglês</label>
                              </div>
                              <div class="container__checkbox">
                                    <input type="checkbox" id="etica" formControlName="etica" />

                                    <label for="etica">Ética</label>
                              </div>
                              <div class="container__checkbox">
                                    <input type="checkbox" id="atualidades" formControlName="atualidades" />

                                    <label for="atualidades">Atualidades</label>
                              </div>
                              <div class="container__checkbox">
                                    <input type="checkbox" id="direitoAdministrativo"
                                          formControlName="direitoAdministrativo" />

                                    <label for="direitoAdministrativo">Direito Administrativo</label>
                              </div>
                              <div class="container__checkbox">
                                    <input type="checkbox" id="direitoConstitucional"
                                          formControlName="direitoConstitucional" />

                                    <label for="direitoConstitucional">Direito Constitucional</label>
                              </div>
                              <div class="container__checkbox">
                                    <input type="checkbox" id="especificas" formControlName="especificas" />

                                    <label for="especificas">Específicas</label>
                              </div>

                              <label for="outros">Outros</label>
                              <input type="text" id="outros" formControlName="outros" />
                        </div>
                  </div>
            </div>

            <div class="form__actions">
                  <button type="submit" [disabled]="!mainForm.valid">Salvar</button>
            </div>



      </form>
</div>
