<app-header (inputIsPage1)="movePage($event)" />

<div class="container">
      <div class="abertos" [@changeConcursos]="page1 ? 'abertos' : 'analisados'">

            @for (concurso of concursos; track $index) {
            <div class="card">
                  <img [src]="imageSelo" width="auto" height="auto" alt="selo" />

                  <p class="title">{{ concurso.nome.slice(0, 15) }}</p>
                  <p>{{ concurso.ano }}</p>
                  <p>Inscrição até: {{ concurso.fimInscricao }}</p>

                  <div class="button-container">
                        <button routerLink="/formulario/{{ concurso.dataEncoded }}"
                              routerLinkActive="active">EDITAR</button>
                  </div>

                  <a [href]="concurso.link">Mais informações</a>
            </div>
            }

            <div class="card">
                  <img [src]="imageSelo" width="auto" height="auto" alt="selo" />

                  <p class="title">FUB</p>
                  <p>2016</p>
                  <p>Inscrição até: 03/10</p>

                  <div class="button-container">
                        <button routerLink="/formulario/{{ dataEncoded }}" routerLinkActive="active">EDITAR</button>
                  </div>

                  <a [href]="concurso.link">Mais informações</a>
            </div>


      </div>

      <!-- <div class="analisados" [@changeConcursos]="page1 ? 'analisados' : 'abertos'"> -->
      <div class="titleAnalisados">
            <h3>Analisados</h3>
      </div>

      <div class="analisados" [@changeConcursos]="page1 ? 'abertos' : 'analisados'">

            @if (data == null) {
            <div class="empty-message">
                  Ainda não existem concursos analisados.
                  Selecione um concurso NOVO, leia o edital
                  e clique em "EDITAR"!!
            </div>

            } @else {
            <div class="card">
                  <p class="title">FUB</p>
                  <p>2016</p>
                  <p class="banca">CEBRASPE</p>
                  <p>Inscrição até: 03/10</p>

                  <div class="button-container">
                        <button routerLink="/cargos">DETALHES</button>
                  </div>

                  <a [href]="data[0].url">Mais informações</a>
            </div>
            <div class="card">
                  <p class="title">FUB</p>
                  <p>2016</p>
                  <p class="banca">CEBRASPE</p>
                  <p>Inscrição até: 03/10</p>

                  <div class="button-container">
                        <button routerLink="/cargos">DETALHES</button>
                  </div>

                  <a [href]="data[0].url">Mais informações</a>
            </div>
            }


      </div>
</div>
